/*  ---------- Custom style ----------- */
/*%=%=%=%=%=%=% GLOBAL %=%=%=%=%=%=%*/

/*======== Logo ========*/
.logo {
    width: 3rem;
}
.logo-auth {
    margin: auto;
    width: 8rem;
}
/*======== Links ========*/
a {
    color: var(--dark);
    text-decoration: none;
}
/*Comportamientos del texto del link cuando se interactúa con el*/
a:focus,
a:hover,
a.visited {
    color: var(--purple);
    text-decoration: none;
    font-weight: 500;
}
.text-primary {
    color: var(--highlight) !important;
}
.btn-link {
    background-color: transparent;
    border: 0;
    color: var(--dark);
}
.btn-link:focus,
.btn-link:hover {
    color: var(--purple);
    font-weight: 500;
}
button,
input,
optgroup,
select,
textarea {
    font-family: "Montserrat", sans-serif;
}
.btn-primary {
    color: var(--white);
    background-color: var(--highlight);
    border-color: var(--highlight);
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: var(--white);
    background-color: var(--highlight);
    border-color: var(--highlight);
    box-shadow: 0 0 0 0.25rem rgb(241 193 219 / 15%);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    color: var(--white);
    background-color: var(--highlight);
    border-color: var(--highlight);
    box-shadow: 0 0 0 0.25rem rgb(241 193 219 / 46%);
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--highlight);
}
/*%=%=%=%=%=%=% extarnal - auth %=%=%=%=%=%=%*/
/*======== extarnal ========*/
.nav-link {
    padding: 0
}
.nav-masthead .nav-link {
    background-color: transparent;
    border: none;
    border-bottom: 0.25rem solid transparent;
    font-weight: 700;
    padding: 0.25rem 0;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: var(--purple);
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
.nav-masthead .active {
    color: var(--white);
    border-bottom-color: var(--white);
}
.bg-gradient-primary {
    background-color: var(--primary-color);
    background-image: linear-gradient(
        180deg,
        var(--tertiary-color) 10%,
        var(--highlight) 100%
    );
    background-size: cover;
}
/*======== auth ========*/
.card-auth {
    background: #ffffffa3;
    border-radius: 0.25rem;
    max-width: 600px;
    padding: 2rem 3rem;
}

/*%=%=%=%=%=%=% Panel %=%=%=%=%=%=%*/
/*======== Panel Navbar ========*/
.navbar-panel {
    background-color: var(--white);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    height: 4rem;
}
.sidebar-toggled .navbar-panel {
    margin-left: 0;
}
.nav-link {
    color: var(--white);
}
.nav-masthead .nav-link {
    color: var(--dark) !important;
}
.nav-link.dropdown-toggle {
    color: var(--highlight);
}
.nav-link:focus,
.nav-link:hover,
.nav-link:active,
.nav-link:link,
.nav-link.visited {
    color: var(--secondary-color);
    text-decoration: none;
}
.nav-masthead .nav-link:focus,
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:active,
.nav-masthead .nav-link:link,
.nav-masthead .nav-link.visited {
    color: var(--secondary-color) !important;
    text-decoration: none;
}
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle:hover,
.nav-link.dropdown-toggle:active,
.nav-link.dropdown-toggle:link,
.nav-link.dropdown-toggle.visited {
    color: var(--primary-color);
    text-decoration: none;
}
li.dropdown {
    list-style: none;
}
/*======== Panel Sidebar ========*/
.sidebar {
    box-shadow: .3rem .1rem .5rem rgba(0,0,0,.15);
    min-height: 100vh;
    width: 6.5rem;
    z-index: 1060;
}
.sidebar.toggled {
    width: 0!important;
    overflow: hidden;
}
.sidebar-brand {
    background-color: var(--white);
    color: var(--dark);
    font-size: 1rem;
    font-weight: 800;
    height: 4rem;
    letter-spacing: .05rem;
    padding: 1.5rem 1rem;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}
.sidebar-brand-text {
    display: none;
}
hr.sidebar-divider {
    border-top: 1px solid var(--white);
    margin: 0 1rem 1rem;
}
.sidebar .nav-item {
    position: relative;
}
.sidebar .nav-item .nav-link {
    background: transparent;
    border: none;
    color: var(--gray-light);
    display: block;
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
}

.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}
.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: var(--white);
    font-weight: 700;
}
.sidebar .nav-item.active .nav-link span {
    color: var(--white);
    font-weight: 700;
}
.sidebar .nav-item.active .nav-link i {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
}
.sidebar .nav-item .nav-link span {
    font-size: .65rem;
    display: block;
}
.dropend .dropdown-toggle::after {
    display: none;
}
.btn-group, .btn-group-vertical {
    display: block;
}
.sidebar #sidebarToggle {
    background-color: rgba(255,255,255,.2);
}
.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
.sidebar #sidebarToggle::after {
    color: var(--white);
}
.sidebar #sidebarToggle::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\F12C';
}
.sidebar.toggled #sidebarToggle::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\F135';
}
.sidebar .dropdown-menu a {
    display: block;
    padding: 0.3rem 0.6rem;
    width: 100%;
}
/*======== Content ========*/
/*======== Panel content ========*/
.wrapper {
    display: flex;
}
#content {
    height: calc(100% - 4rem);
    min-height: calc(100vh - 4rem);
}
.wrapper .content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow: hidden;
}
.card-header,
.modal-header {
    background-color: var(--ligth-2);
    border-bottom: 1px solid var(--primary-color);
}
.card-footer,
.modal-footer {
    background-color: var(--ligth-2);
    border-top: 1px solid var(--primary-color);
}
.card {
    border: 1px solid var(--primary-color);
}
.page-item.active .page-link {
    background: var(--highlight);
    border-color: var(--highlight);
    color: var(--white);
}
.page-item.active .page-link:hover {
    background: var(--primary-color);
}
.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgb(241 193 219 / 46%);
}
.spinner {
    background: white;
    bottom: 0;
    left: 0;
    padding: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 2;
}
/*======== Panel Footer ========*/
.footer {
    height: 4rem;
}

@media (min-width: 768px) {
    .sidebar {
        box-shadow: none;
        width: 14rem!important;
    }
    .sidebar-brand-text {
        display: inline;
    }
    .sidebar.toggled .sidebar-brand .sidebar-brand-text {
        display: none;
    }
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem;
    }
    .sidebar .nav-item .nav-link i {
        font-size: .85rem;
        margin-right: 0.25rem;
    }
    .sidebar .nav-item .nav-link span {
        font-size: .85rem;
        display: inline;
    }
    .sidebar .nav-item .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        -webkit-animation: none;
        animation: none;
    }
    .sidebar.toggled {
        overflow: visible;
        width: 6.5rem!important;
    }
    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 6.5rem;
    }
    .sidebar.toggled .nav-item .nav-link i {
        margin-right: 0;
    }
    .sidebar.toggled .nav-item .nav-link span {
        font-size: .65rem;
        display: block;
    }
    .sidebar.toggled .dropend .dropdown-toggle::after {
        display: none;
    }
    .dropend .dropdown-toggle::after {
        display: inline-block;
        float: right;
    }
}

