/*  ---------- My theme ----------- */
  /*%=%=%=%=%=%=% Variables %=%=%=%=%=%=%*/
  :root{
    --primary-color: #ff7cbda6;
    --secondary-color: #f3cfeb;
    --tertiary-color: #cc81b8;
    --highlight: #D52A8B;
    --purple: #51068a;
    --light-purple: #bd92dd;
    --green: #7fffd4;
    --light: #fff1ff;
    --white: #ffffff;
    --gray-light: #e6e2e4;
    --gray: #a2a2a2;
    --dark: #303030;
  }
  /*%=%=%=%=%=%=% Fonts %=%=%=%=%=%=%*/
    @font-face {
      font-family: 'Montserrat';
      src: local('Montserrat'),
      url('../font/Montserrat-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight: normal;
    }
    /* Alternativa de font-face
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
  /*%=%=%=%=%=%=% Scrollbar %=%=%=%=%=%=%*/
    ::-webkit-scrollbar{background: var(--gray-light);width: 10px;}
    ::-webkit-scrollbar-thumb{background: var(--primary-color);border-radius: 2px;cursor: pointer;}
    ::-webkit-scrollbar-thumb:hover{background: var(--primary-color);cursor: pointer;}
  /*%=%=%=%=%=%=% Global %=%=%=%=%=%=%*/
  *{box-sizing: border-box;color: var(--dark);margin: 0;padding: 0;}
  html{background: var(--green);font-family: 'Montserrat', sans-serif; font-size: 100%;}
  html, body{height: 100%;margin: 0;padding: 0;}
  body{background: linear-gradient(var(--secondary-color), var(--primary-color)) fixed;font-size: 1rem;}
   /*%=%=%=%=%=%=% Display %=%=%=%=%=%=%*/
    .d-block{display: block;}
    .d-inline{display: inline;}
    .d-inline-block{display: inline-block;}
    .d-none{display: none;}
    .d-flex{display: flex;}
    .fixed-top{left: 0;position: fixed;right: 0;top: 0;}
  /*%=%=%=%=%=%=% Margin & Padding %=%=%=%=%=%=%*/
    .m-auto{margin: auto;}
    .mx-1{margin-left: 0.5rem;margin-right: 0.5rem;}
    .my-1{margin-top: 0.5rem;margin-bottom: 0.5rem;}
    .mx-2{margin-left: 1rem;margin-right: 1rem;}
    .my-2{margin-top: 1rem;margin-bottom: 1rem;}
    .m-1{margin: 0.5rem;}.m-2{margin: 1rem;}
    .mb-1{margin-bottom: 0.5rem;}.mb-2{margin-bottom: 1rem;}
    .p-1{padding: 0.5rem;}.p-2{padding: 1rem;}
    .pb-1{padding-bottom: 0.5rem;}.pb-2{padding-bottom: 1rem;}
  /*%=%=%=%=%=%=% Headings %=%=%=%=%=%=%*/
    h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif;font-weight: 400;-webkit-margin-after: 0;-webkit-margin-before: 0;-webkit-margin-end: 0;-webkit-margin-start: 0;}
    h1{font-size: 3rem;}h2{font-size: 2.5rem;}h3{font-size: 2.1rem;}h4{font-size: 1.8rem;}
    h5{font-size: 1.5rem;}h6{font-size: 1.2rem;}
  /*%=%=%=%=%=%=% Text Align %=%=%=%=%=%=%*/
    .text-center{text-align: center;}
    .text-justify{text-align:justify;}
  /*%=%=%=%=%=%=% UL & OL %=%=%=%=%=%=%*/
    .ul-square{ list-style-type: square;} .ul-circle{ list-style-type: circle;}
    .ol-zero{ list-style-type: decimal-leading-zero;} .ol-latin{ list-style-type: upper-latin;}
    .ol-lower-latin{ list-style-type: lower-latin;} .ol-roman{ list-style-type: upper-roman;}
    .ol-lower-roman{ list-style-type: lower-roman;}
    .list li{list-style-position: inside;margin: 0;padding-left: .35rem;}
  /*%=%=%=%=%=%=% Links %=%=%=%=%=%=%*/
    a{text-decoration: none;}
    a:hover, a:focus, a:active{color: var(--highlight);text-decoration: underline;}
  /*%=%=%=%=%=%=% Borders %=%=%=%=%=%=%*/
    .radius{border-radius: .25rem;}
  /*%=%=%=%=%=%=% Content %=%=%=%=%=%=%*/
    .w-100{width: 100%;}.w-auto{width: auto;}
    .w-50{width: 50%;}.w-25{width: 25%;}
    .h-100{height: 100%;}.h-auto{height: auto;}
    .h-50{height: 50%;}.h-25{height: 25%;}
    .content{background: var(--light);display: flex;flex-wrap: wrap;margin: 0 auto;max-width: 1440px;padding-left: 1rem;padding-right: 1rem;}
    .section{width: 100%;min-width: 150px;height: auto;}
    code{background-color: var(--gray-light); border-radius: .25rem;padding: .2rem .5rem;}
    code .comment{color: var(--gray);}
    .gist-code{padding: .5rem;}
    .gist div.gist-file{margin-bottom: 0;}
    blockquote{background: var(--gray-light);padding: .5rem;}
    /*%=%=%=%=%=%=% Background %=%=%=%=%=%=%*/
    .bg-white{background: var(--white);background-color: var(--white);}
    .bg-light{background: var(--light);}
    .bg-gray-light{background: var(--gray-light);background-color: var(--gray-light);}
    .bg-gray{background: var(--gray);background-color: var(--gray);}
  /*%=%=%=%=%=%=% Forms %=%=%=%=%=%=%*/
    ::-webkit-input-placeholder{color: var(--gray);font-family: 'Montserrat';}
    ::-moz-placeholder{color: var(--gray);font-family: 'Montserrat';}
    :-ms-input-placeholder{color: var(--gray);font-family: 'Montserrat';}
    input:-moz-placeholder{color: var(--gray);font-family: 'Montserrat';}
    label{font-weight: 400;}
  /*%=%=%=%=%=%=% Images %=%=%=%=%=%=%*/
    .img-responsive{height: auto;width: 100%;}
    .img-responsive-50{height: auto;width: 50%;}
    .img-rounded{border-radius: 6px;}
    .img-circle{border: 4px solid var(--white);border-radius: 50%;box-sizing: border-box;}
    .img-thumbnail{border: 4px solid var(--white);border-radius: 5px;box-sizing: border-box;}
    .figcaption{background: var(--gray-light);background-color: var(--gray-light);border-radius: .25rem;margin-top: .2rem; padding: .5rem;}
  /*%=%=%=%=%=%=% MEDIA QUERY %=%=%=%=%=%=%*/
    /* Only SM Hasta 576px */
    @media (max-width: 576px) {
      .w-sm-100{width: 100%;}
    }
    /* SM Desde 100 px en adelante */
    @media (min-width: 576px) {
      html, body{font-size: 20px;}
      .gist-code{padding: .5rem 1.5rem;}
      .w-sm-100{width: 100%;}
    }
    /* MD Desde 921px en adelante */
    @media (min-width: 768px) {
    }
    /* LG Desde 1 en adelante */
    @media (min-width: 992px) {
      .w-lg-auto{width: auto;}
      .content{margin-left: auto;margin-right: auto;max-width: 992px;}

    }
    /*  ---------- Custom style ----------- */
/*%=%=%=%=%=%=% GLOBAL %=%=%=%=%=%=%*/
    /*======== Fuentes ========*/
    *, body{
        color: inherit;
        font-style: normal;
        font-weight: 300;
        text-decoration: none;
    }
    /*======== Logo ========*/
    .logo{width: 3rem;}
    .logo-auth{margin: auto; width: 8rem;}
    /*======== Links ========*/
    a{color: var(--dark);text-decoration: none;}
        /*Comportamientos del texto del link cuando se interactúa con el*/
    a:focus, a:hover, a.visited{color: var(--purple);text-decoration: none;font-weight: 500;}
    .text-primary {
        color: var(--highlight)!important;
    }
    .btn-link{color: var(--dark);}
    .btn-link:focus, .btn-link:hover {color: var(--purple);font-weight: 500;}
    button, input, optgroup, select, textarea {
        font-family: 'Montserrat', sans-serif;
    }
    .btn-primary {
      color: var(--white);
      background-color: var(--highlight);
      border-color: var(--highlight);
    }
    .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle  {
      color: var(--white);
      background-color: var(--highlight);
      border-color: var(--highlight);
    }
    .btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
      color: var(--white);
      background-color: var(--highlight);
      border-color: var(--highlight);
      box-shadow: 0 0 0 0.25rem rgb(241 193 219 / 46%);
    }
    .dropdown-item.active, .dropdown-item:active {
      background-color: var(--highlight);
    }
/*%=%=%=%=%=%=% extarnal - auth %=%=%=%=%=%=%*/
    /*======== extarnal ========*/
    .body-external{background: var(--primary-color);}
    .no-style:focus, .no-style:link, .no-style.visited {color: var(--white);}
    .nav-masthead .nav-link {padding: .25rem 0;font-weight: 700;color: var(--gray-light);background-color: transparent;border-bottom: .25rem solid transparent;}
    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus { border-bottom-color: var(--purple);}
    .nav-masthead .nav-link + .nav-link {margin-left: 1rem;}
    .nav-masthead .active {color: var(--white);border-bottom-color: var(--white);}
    .bg-gradient-primary {background-color: var(--primary-color);background-image: linear-gradient(180deg,var(--tertiary-color) 10%,var(--highlight) 100%);background-size: cover;}
    /*======== auth ========*/
    .card-auth{background: #ffffff30;border-radius: .25rem;padding: 2rem 3rem;}

/*%=%=%=%=%=%=% Panel %=%=%=%=%=%=%*/
    /*======== Panel content ========*/
    .content-wrapper{margin-left: 280px;height: 100%;min-height: 100vh;position: relative;width: calc(100% - 280px);}
    #content{height: calc(100% - 4rem);min-height: calc(100vh - 4rem);}
    /*======== Panel Navbar ========*/
    .navbar-panel{background-color: var(--white);box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);height: 4rem;}
    .nav-link{color: var(--highlight);}
    .nav-link:focus, .nav-link:hover, .nav-link:active, .nav-link:link, .nav-link.visited{color: var(--purple);text-decoration: none;}
    li.dropdown{list-style: none;}
    /*======== Panel Sidebar ========*/
    .sidebar{bottom: 0;position: fixed;top: 0;width: 280px;}
    .sidebar li{background: var(--white);border-radius: .25rem;}
    .accordion-button{color: var(--highlight);text-align: left;width: 100%;transition: all 0.3s ease-out}
    .accordion-button:hover, .accordion-button:focus, .accordion-button:active{color: var(--purple);font-weight: bold;padding-left: 1.8rem;transition: all 0.3s ease-out;box-shadow: none;}
    .accordion-button.no-toggle::after {
        background-image:none;
    }
    .accordion-button:not(.collapsed) {
        background-color: transparent;box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
        color: var(--purple);font-weight: bold;padding-left: 1.8rem;
    }
    .accordion-button:focus {border-color: transparent;box-shadow: none;}
    .accordion-body {padding: 0;}
    .accordion-body .list-group-item {border: none;}
    .accordion-body .list-group-item a{color: var(--highlight); display: block;width: 100%;}
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-90deg);
    }
    /*======== Content ========*/
    .card-header { background-color: var(--light); border-bottom: 1px solid var(--primary-color);}
    .card-footer { background-color: var(--light); border-top: 1px solid var(--primary-color);}
    .card { border: 1px solid var(--primary-color);}
    th {font-weight: 400;}
    th, td{border: 0.5px solid var(--gray-light);}
    thead, tbody, tfoot{border: 0 none transparent;}
    .table>:not(:last-child)>:last-child>* { border-bottom-color:  var(--gray-light);}
    div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label {font-weight: inherit;}
    .table{border: 0.5px solid var(--gray-light);border-radius: 0.2rem;}
    .page-item.active .page-link{background: var(--highlight); border-color: var(--highlight); color: var(--white);}
    .page-item.active .page-link:hover{background: var(--primary-color);}
    .page-link:focus {box-shadow: 0 0 0 0.25rem rgb(241 193 219 / 46%);}
    .form-select:focus, .form-control:focus, .select2-container--focus {border-color: var(--primary-color); box-shadow: 0 0 0 0.25rem rgb(241 193 219 / 46%);}
    .select2-container{ max-width: calc(100% - 3rem);}
    .select2-container--default .select2-selection--multiple {  border: 0 none transparent !important}
    .select2-container--default .select2-selection--multiple li.select2-selection__choice {
        background-color: #ede6ed;border: 1px solid var(--primary-color) ;
    }
    .select2-container--default li.select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--highlight);
    }
    .select2-container--default li.select2-results__option--selected {
        background-color: #ede6ed;
    }
    .select2-container--default .select2-search--inline textarea.select2-search__field{
        height: 1.5rem;
        font-size: 0.9rem;
    }
    /*======== Panel Footer ========*/
    .footer{height: 4rem;}
