/*%=%=%=%=%=%=% GLOBAL %=%=%=%=%=%=%*/
    /*======== Fuentes ========*/
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    html{height: 100%;}
    *, body{
        color: inherit;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        text-decoration: none;
    }
    /*======== Headings ========*/
    h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif;font-weight: 300;-webkit-margin-after: 0;-webkit-margin-before: 0;-webkit-margin-end: 0;-webkit-margin-start: 0;}
    h1{font-size: 3rem;}h2{font-size: 2.5rem;}h3{font-size: 2.1rem;}h4{font-size: 1.8rem;}
    h5{font-size: 1.5rem;}h6{font-size: 1.2rem;}
    /*======== scrollbar ========*/
    ::-webkit-scrollbar{background: #e6e2e4;width: 10px;}
    ::-webkit-scrollbar-thumb{background: #ff7cbda6;border-radius: 2px;cursor: pointer;}
    ::-webkit-scrollbar-thumb:hover{background: #ff7cbd82;cursor: pointer;}
    /*======== Logo ========*/
    .logo{width: 3rem;}
    .logo-auth{margin: auto; width: 8rem;}
    /*======== Links ========*/
    a{color: #000000;text-decoration: none;}
        /*Comportamientos del texto del link cuando se interactúa con el*/
    a:focus, a:link, a.visited{color: #51068a;text-decoration: none;}

    .text-primary {
        color: #a4296a!important;
    }

    .btn-primary {
      color: #fff;
      background-color: #a4296a;
      border-color: #a52a6e;
    }
    .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle  {
      color: #fff;
      background-color: #992250;
      border-color: #9a2250;
    }
    .btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
      color: #fff;
      background-color: #992250;
      border-color: #9a2250;
      box-shadow: 0 0 0 0.25rem rgb(241 193 219 / 46%);
    }
    .dropdown-item.active, .dropdown-item:active {
      background-color: #992250;
    }
    a:hover{color: #51068a;font-weight: bold;}
/*%=%=%=%=%=%=% extarnal - auth %=%=%=%=%=%=%*/
    /*======== extarnal ========*/
    .body-external{background: #923e71;}
    .no-style:focus, .no-style:link, .no-style.visited {color: #fff;}
    .nav-masthead .nav-link {padding: .25rem 0;font-weight: 700;color: rgba(255, 255, 255, .5);background-color: transparent;border-bottom: .25rem solid transparent;}
    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus { border-bottom-color: rgba(255, 255, 255, .25);}
    .nav-masthead .nav-link + .nav-link {margin-left: 1rem;}
    .nav-masthead .active {color: #fff;border-bottom-color: #fff;}
    /*.navbar-brand img{height:3.5rem!important}.pointer{cursor:pointer}.dropdown-toggle{-moz-user-select:none;user-select:none;-webkit-user-select:none}.separator{display:flex;align-items:center;text-align:center;font-size:.875rem;color:#69707a;font-style:italic}.separator:after,.separator:before{content:"";flex:1;border-bottom:1px solid #e0e5ec}.separator:before{margin-right:.5em}.separator:after{margin-left:.5em}.description-sidebar{top:calc(93px + 1.5rem)}@media (min-width:768px){.hasBanner .description-sidebar{top:calc(93px + 3.5rem + 1.5rem)}}.footer.footer-light,.navbar-light .navbar-nav .nav-link,.page-header-text{color:#69707a!important}.page-header-text a{font-weight:500;color:#212832}.badge-green-soft{color:#1b712f}.badge-blue-soft{color:#186db1}.text-angular{color:#e23237}.text-bootstrap{color:#563d7c}.text-vue{color:#42b983}.icons-tech{flex-wrap:wrap}.icons-tech,.icons-tech sbw-tech-stack-icon{display:flex}.review-content p:last-child{margin-bottom:0}fa-icon svg{display:inline-block;font-size:inherit;height:1em}[style*="--aspect-ratio"]>:first-child{width:100%}[style*="--aspect-ratio"]>img{height:auto}@supports (--custom:property){[style*="--aspect-ratio"]{position:relative}[style*="--aspect-ratio"]:before{content:"";display:block;padding-bottom:calc(100% / (var(--aspect-ratio)))}[style*="--aspect-ratio"]>:first-child{position:absolute;top:0;left:0;height:100%}}.hidden{display:none}.grecaptcha-badge{visibility:hidden}*/
    .bg-gradient-primary {background-color: #923e71;background-image: linear-gradient(180deg,#a52a6e 10%,#99224e 100%);background-size: cover;}
    /*======== auth ========*/
    .card-auth{background: #ffffff30;border-radius: .25rem;padding: 2rem 3rem;}
